# =========================
# Unity generated folders
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
Recordings/

# =========================
# Build output
# =========================
buildfarm/
[Bb]uildfarm/
*.exe
*_Data/
*.apk
*.aab
*.ipa
*.app
*.zip
*.rar
*.7z
UnityPlayer.dll
UnityCrashHandler64.exe
*_BurstDebugInformation_DoNotShip/

# =========================
# IDE / OS
# =========================
.vs/
.idea/
.vscode/
.vsconfig
*.csproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Git LFS attributes
# =========================
.gitattributes
**/.gitattributes

# =========================
# Ignore almost all Assets
# =========================
Assets/*

# =========================
# Allow Scripts
# =========================
!Assets/1 Scripts.meta
!Assets/1 Scripts/
!Assets/1 Scripts/**

!Assets/Scripts.meta
!Assets/Scripts/
!Assets/Scripts/**

# =========================
# Allow Scenes
# =========================
!Assets/5 Scenes.meta
!Assets/5 Scenes/
!Assets/5 Scenes/**

# =========================
# Allow Resources
# =========================
!Assets/Resources.meta
!Assets/Resources/
!Assets/Resources/**

# =========================
# Allow Input
# =========================
!Assets/Input.meta
!Assets/Input/
!Assets/Input/**

# =========================
# Allow Photon, but block demos/chat/assets
# =========================
!Assets/Photon.meta
!Assets/Photon/

# First ignore everything inside Photon
Assets/Photon/*

# Allow PhotonLibs
!Assets/Photon/PhotonLibs.meta
!Assets/Photon/PhotonLibs/
!Assets/Photon/PhotonLibs/**

# Allow PhotonRealtime Code only
!Assets/Photon/PhotonRealtime.meta
!Assets/Photon/PhotonRealtime/
Assets/Photon/PhotonRealtime/*
!Assets/Photon/PhotonRealtime/Code.meta
!Assets/Photon/PhotonRealtime/Code/
!Assets/Photon/PhotonRealtime/Code/**

# Allow PUN Code / Resources / UtilityScripts only
!Assets/Photon/PhotonUnityNetworking.meta
!Assets/Photon/PhotonUnityNetworking/
Assets/Photon/PhotonUnityNetworking/*

!Assets/Photon/PhotonUnityNetworking/Code.meta
!Assets/Photon/PhotonUnityNetworking/Code/
!Assets/Photon/PhotonUnityNetworking/Code/**

!Assets/Photon/PhotonUnityNetworking/Resources.meta
!Assets/Photon/PhotonUnityNetworking/Resources/
!Assets/Photon/PhotonUnityNetworking/Resources/**

!Assets/Photon/PhotonUnityNetworking/UtilityScripts.meta
!Assets/Photon/PhotonUnityNetworking/UtilityScripts/
!Assets/Photon/PhotonUnityNetworking/UtilityScripts/**

!Assets/Photon/PhotonUnityNetworking/link.xml
!Assets/Photon/PhotonUnityNetworking/link.xml.meta